<hr>
<h1 class="w3-center">Bookshelves</h1>
  <% @bookshelves.each do |bookshelf| %>
    <button onclick="myAccFunc('<%= bookshelf.id %>')" class="w3-padding-16 w3-hover-dark-grey w3-btn-block w3-left-align"><%= bookshelf.name %></button>

    <div id="<%= bookshelf.id %>" class="w3-accordion-content">

      <div class="w3-container">
        <% bookshelf.cookbooks.each do |cookbook| %>
          <a class="w3-text-black w3-padding-16" href="<%= cookbook_path(cookbook) %>"><%= cookbook.title %></a>
        <% end %>
        <%= link_to "All #{bookshelf.name}", bookshelf, :class => "w3-text-black w3-padding-16" %>
      </div>

    </div>
  <% end %>
<hr>
