<h2>Edit Cookbook</h2>

<%= form_for @cookbook do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :format %>
  <%= f.text_field  :format %>

  <%= f.label :summary %>
  <%= f.text_field  :summary %>

  <%= f.label :bookshelf %>
  <%= f.text_field :bookshelf_id %>

  <%= f.submit %>
<% end %>
