<h2><%= @cookbook.title %> <%= link_to "(edit)", edit_cookbook_path(@cookbook) %></h2>
<h3>Location: <%= @cookbook.bookshelf.location %> Status: <%= @cookbook.bookshelf.name %></h3>


<img src="<%= @cookbook.img_url %>"></img>
