<!DOCTYPE html>
<html>
  <head>
    <title>My_Cooking_Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  </head>

  <body>
    <header>My Cookbook Library</header>
      <main>
        <nav>
          <%= link_to "Bookshelves", bookshelves_path %> <%= link_to "Cookbooks", cookbooks_path %> <%= link_to "New", new_cookbook_path %>
        </nav>

        <section>
        <%= yield %>
        </section>

        <aside>
          Random stuff going here for now.
        </aside>
      </main>
    <footer>WDI Project 2 - Lisa Burr</footer>
  </body>
</html>
