<!DOCTYPE html>
<html>
  <head>
    <title>My_Cooking_Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>My Cookbook Library</h1>
    <nav>
      <%= link_to "View Bookshelves", bookshelves_path %> | <%= link_to "View Cookbooks", cookbooks_path %> | <%= link_to "Add a Cookbook", new_cookbook_path %>
    </nav>
    <%= yield %>
  </body>
</html>
